#allproducts{

   width: 100%;
   min-height: 500px;

    .con{
        
        .index {
            margin: 20px 0;

            span{
                font-size: 14px;
            }
            
            i{
                font-size: 12px;
            }
        }


        .goodslist{
            width: 100%;
            display: flex;

            .leftlist{
                width: 292px;
                div{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    cursor: pointer;
                    i{
                        font-weight: bold !important; 
                        font-size: 16px !important;
                    }
                    
                        
                    
                }
            }

            .rightlist{
                width: 1068px;
                padding-left: 44px;
                display: flex;

                .rightlist-top{
                    margin:  0 0 20px;
                    .selection{
                        width: 238px;
                        height: 40px;
                        padding: 10px 0 10px 10px;
                        border: 1px solid #333;
                        display: flex;
                        justify-content: space-between;
                    }
                }
                .right-goods{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    margin-top:20px;
                    .goods{
                        width: 320px;
                        height: 500px;
                        overflow: hidden;
                        position: relative;
                        a{
                            display: inline-block;
                            width: 320px;
                            height: 400px;
                            margin-bottom: 5px;
                            img{
                                width: 320px;
                                height: 400px;
                                transition: all 0.5s;
                            }
                        }
                      
                        .fast-browse{
                            background: #00397e;
                            width:320px;
                            height: 50px;
                            line-height: 50px;
                            font-size: 18px;
                            color: #fff;
                            position: absolute;
                            bottom: 90px;
                            left: 0px;
                            text-align: center;
                            margin-bottom: 10px;
                            cursor: pointer;
                            opacity: 0;
                            transition: all 0.8s;
                           
                        }

                        .good-crad_title{
                            span{
                                color: #010101;
                            }
                        }

                        .good-pricie{
                            display: flex;
                            justify-content: space-between;
                            & span:nth-of-type(1){
                                font-weight: bold;
                            }

                            & span:nth-of-type(2){
                               font-size: 18px;
                            }
                        }
                    }
                  

                    & div:hover .fast-browse {
                        opacity: 1;
                    }
                    & div:hover img {
                        transform: scale(0.96);
                    }

                    & div:hover a {
                        border: 2px solid #333;
                    }

                   
                }

            }
        }

    }
}