/* 顶部 */
header .con {
    height: 115px;
  }
  header .con .header-bar {
    padding-top: 15px;
    background: #fff;
  }
  header .con .header-bar .header-bar_nav {
    display: flex;
    justify-content: space-between;
  }
  header .con .header-bar .header-bar_nav .fl {
    width: 100px;
  }
  header .con .header-bar .header-bar_nav .fr {
    width: 500px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header .con .header-bar .header-bar_nav div {
    font-size: 14px;
    display: flex;
    align-items: center;
    position: relative;
  }
  header .con .header-bar .header-bar_nav div a {
    margin-left: 5px;
  }
  header .con .header-bar .header-bar_nav div a img {
    width: 24px;
    height: 24px;
  }
  header .con .header-bar .header-bar_nav div span {
    width: 16px;
    height: 16px;
    background-color: #c51333;
    border-radius: 50%;
    font-size: 12px;
    color: #fff;
    text-align: center;
    position: absolute;
    right: -3px;
    top: -5px;
  }
  header .con .header-bar .logo {
    position: absolute;
    top: 30px;
  }
  header .con .header-bar .logo a img {
    width: 170px;
  }
  header .con .header-bar .contain {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
  }
  header .con .header-bar .contain ul {
    height: 45px;
    display: flex;
    position: relative;
    left: 200px;
  }
  header .con .header-bar .contain ul li {
    display: flex;
    align-items: center;
    height: 45px;
    color: #010101;
    font-size: 16px;
    padding: 0 26px;
    font-weight: 900;
    cursor: pointer;
  }
  header .con .header-bar .contain ul li:hover {
    background-color: #e5e5e5;
  }
  header .con .header-bar .contain div {
    width: 250px;
    height: 38px;
    border: 1px solid #333;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  header .con .header-bar .contain div input {
    width: 200px;
    height: 36px;
    border-radius: 5px;
    text-indent: 10px;
  }
  header .con .header-bar .contain div i {
    display: inline-block;
    height: 38px;
    width: 38px;
    cursor: pointer;
  }
  header .con .header-bar .contain div i img {
    width: 20px;
    height: 20px;
    position: relative;
    left: 10px;
  }
  header .footer {
    width: 100%;
    height: 30px;
    background-color: #010101;
  }



/* 底部 */
  footer {
    width: 100%;
    height: 335px;
    background-color: #212121;
  }
  footer .con {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  footer .con .footer_logo {
    margin-top: 20px;
    height: 95px;
  }
  footer .con .footer_logo a img {
    width: 170px;
    height: 95px;
  }
  footer .con .list {
    width: 100%;
    padding-top: 15px;
    display: flex;
    justify-content: center;
    color: #f7f7f7;
  }
  footer .con .list .fl_box {
    width: 977px;
    display: flex;
    justify-content: space-between;
  }
  footer .con .list .fl_box li {
    display: flex;
    flex-direction: column;
  }
  footer .con .list .fl_box li a {
    color: #f7f7f7;
    margin-bottom: 3px;
    font-size: 14px;
  }
  footer .con .list .fl_box li span:nth-of-type(1) {
    margin-bottom: 8px;
  }
  footer .con .list .fl_box li:nth-of-type(1) {
    width: 245px;
  }
  footer .con .list .fl_box li:nth-of-type(2) {
    width: 200px;
  }
  footer .con .list .fl_box li:nth-of-type(3) {
    width: 206px;
  }
  footer .con .list .fl_box li:nth-of-type(4) {
    width: 196px;
  }
  footer .con .list .fl_box li:nth-of-type(5) {
    width: 130px;
  }
  footer .con .list .fl_box li:nth-of-type(5) div {
    display: flex;
  }
  footer .con .list .fl_box li:nth-of-type(5) div img {
    width: 43px;
    height: 43px;
    margin-right: 5px;
  }
  /* 版权栏 */
  #copyright {
    width: 100%;
    height: 65px;
    background-color: #010101;
  }
  #copyright .con {
    width: 1200px;
    display: flex;
    justify-content: space-between;
  }
  #copyright .con .fl-box {
    width: 580px;
    color: #fff;
    font-size: 13px;
  }
  #copyright .con .fl-box p {
    padding-top: 10px;
  }
  #copyright .con .rt-box {
    width: 300px;
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
  }
  #copyright .con .rt-box a {
    color: #fff;
    font-size: 13px;
  }
  
  #regular {
    width: 60px;
    height: 186px;
    position: fixed;
    right: 10px;
    bottom: 50px;
  }
  #regular a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 60px;
    height: 60px;
    background-color: #000;
    color: #fff;
    text-align: center;
    margin-bottom: 2px;
    font-size: 14px;
  }
  #regular a i {
    font-size: 22px;
  }

